__pycache__/


# Python virtualenv
arxiv/


# Jupyter Notebook
.ipynb_checkpoints

# IDE / Editor specific
.idea/
.vscode/

# Data files
data/

# Environment variables
.env

# specific files
idea.txt
activate.sh
